build/
libs/*
bison-report
*.o
*.deps
*.dirstamp
Makefile
Makefile.in
autom4te.cache
config.log
config.status
configure
install-sh
memc
missing
*~
depcomp
compile
aclocal.m4
src/config.h
src/config.h.in
ylwrap
COPYING
INSTALL
src/stamp-h1
src/mem/lang/*.cpp
src/mem/lang/*.hpp

